@model MVCSaller.Models.Seller

@{
	ViewData["Title"] = "Create Seller"; 
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div class="form-control-plaintext">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-label" />
			</div>
			<div class="form-control-plaintext">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-label" />
			</div>
			<div class="form-control-plaintext">
				<label asp-for="BirthDate" class="control-label"></label>
				<input asp-for="BirthDate" class="form-label" />
			</div>
			<div class="form-control-plaintext">
				<label asp-for="BaseSalary" class="control-label"></label>
				<input asp-for="BaseSalary" class="form-label" />
			</div>
			<div class="form-control-color">
				<input type="submit" class="btn btn-success" value="Submit" />
			</div>
		</form>
	</div>
</div>